[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
flask-cors = "*"
bootstrap-flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.11"
